{% extends "::layout.html.twig" %}

{% block title %}Accueil administrateur{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{asset('bundles/css/default.css')}}"/>
<link rel="stylesheet" href="{{asset('bundles/css/normalize.css')}}"/>
{% endblock %}

{% block nav %}
	{{ include("::nav.html.twig") }}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Bienvenue</h1>
		</div>
	</div>
 </div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Recettes</h2>
    </div>
  </div>
    {% if count > 0 %}
        {%for i in 0..count-1 %}
        <a   href="{{ path('bw_recette_id', {'idRecette': recette[i].idRecette}) }}">
        <div class="w3-row-padding">
          <div class="w3-third w3-container w3-margin-bottom">
              <img src="{{asset(image[i].lieni)}}" alt="Norway" style="width:100%" class="w3-hover-opacity">
            <div class="w3-container w3-white">
            </a>
              <br>
              <p><b>{{recette[i].nom}}</b></p>
              <p>{{recette[i].description}}</p>
            </div>
          </div>
        </div>
          <br>
        {% endfor %}
    {% else %}
      <p>Aucune recette</p>
    {% endif %}
      <br>
      <a href="{{ path('bw_utilisateur_homepage') }}">
        <i class="btn btn-default btn-lg">Home</i>
      </a>
    </div>
  </div>
</div>
{% endblock content %}