<div class="w3-section w3-bottombar w3-padding-10">
	<div class="container">
		<div class="row">
			<div class="col-md-2"><a class="w3-button w3-white width-100" href="{{ path('bw_utilisateur_homepage') }}">Home</a></div>
			<div class="col-md-2"><a class="w3-button w3-white width-100" href="{{ path('bw_recette_homepage') }}">Recette</a></div>
			<div class="col-md-2"><a class="w3-button w3-white width-100" href="{{ path('bw_recette_creer_recette') }}">Creer une recette</a></div>
			{% if is_granted("ROLE_ADMIN") %}
				<div class="col-md-3">
					{{ include("BWUtilisateurBundle:Nav:adminNav.html.twig") }}
				</div>
			{%endif%}
			<div class="col-md-3">
			{% block isAuthenfied %}{{ include("BWUtilisateurBundle:Nav:isAuthentified.html.twig") }}{% endblock %}
			</div>
		</div>
	</div>
</div>
