{% extends "::layout.html.twig" %}

{% block title %}Liste de recette{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{asset('bundles/css/normalize.css')}}"/>
{% endblock %}

{% block nav%}
 {{include ("::nav.html.twig")}}
{% endblock nav %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Recettes</h1>
    </div>
  </div>
    {% if listeRecette is not null %}
      {% for recette in listeRecette %}
        <a   href="{{ path('bw_recette_id', {'idRecette': recette.id}) }}">
        <div class="w3-row-padding">
          <div class="w3-third w3-container w3-margin-bottom">
            {% if recette.images is not empty %}
              <img src="{{asset(recette.images[0].lieni)}}" alt="Norway" style="width:100%" class="w3-hover-opacity">
            {% else %}
              <img src="{{asset('Image/default-place-holder.png')}}" alt="Norway" style="width:100%" class="w3-hover-opacity">
            {% endif %}
            <div class="w3-container w3-white">
            </a>
              <br>
              <p><b>{{recette.nom}}</b></p>
              <p>{{recette.description}}</p>
            </div>
          </div>
        </div>
          <br>
      {% endfor %}
    {% else %}
      <p>Aucune recette</p>
    {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
