{% extends "::layout.html.twig" %}

{% block title %}Accueil administrateur{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="{{asset('bundles/css/normalize.css')}}"/>
{% endblock %}

{% block nav %}
	{{ include("::nav.html.twig") }}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Bienvenu administrateur</h1>

			<button onclick="redirect('{{ path('bw_admin_tableau_uti') }}')" class="w3-button w3-white width-100">Administrer les utilisateurs</button>
			<button onclick="redirect('{{ path('bw_admin_tableau_recette') }}')"class="w3-button w3-white width-100">Administrer les recettes</button>
			<button onclick="redirect('{{ path('bw_admin_tableau_ingredient') }}')"class="w3-button w3-white width-100">Administrer les ingrédients</button>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<!-- sweetAlert2 -->
	<script src="{{asset('bundles/js/sweetalert2.all.min.js')}}"></script>
	<!-- Include a polyfill for ES6 Promises (optional) for IE11 and Android browser -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

	<script src="{{asset('bundles/Utilisateur/js/index.js')}}"></script>
{% endblock %}